#findOP {
	width: 60px;
	height: 60px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background-size: 65px 55px;
    border: 3px solid #000000;
    background-repeat: no-repeat;
    background-color: white;
    background-position-y: -7px;
    background-size: 100px;

    font-size: 12px;
    font-weight: 700;
}

#searchTooltip{
	width: 60px;
	height: 60px;
	position: fixed;
	z-index: 9999;
	right: 20px;
	bottom: 20px;
	-webkit-border-radius: 30px;
	opacity:0;
}
#findOP:hover div{
	opacity:0.6;
	text-align:justify;
}

.noOP{
	background: url('chrome-extension://__MSG_@@extension_id__/icons/where.gif');	
    background-position-x: -17px;

}

.haveOP{
	background: url('chrome-extension://__MSG_@@extension_id__/icons/dbutt.gif');
    background-position-x: -20px;
}

.noOP::before { 
    content: "Can't find";
    position: absolute;
    right: 17px;
	bottom: 55px;
    margin: 0 50%;
    -webkit-transform: rotate(45deg);
}
.noOP::after { 
    content: "OP";
    color:#00b22d;
    position: absolute;
    right: 38px;
	bottom: 48px;	

	margin: 0 50%;
    -webkit-transform: rotate(38deg);
}

.haveOP::before { 
    content: "To";
    position: absolute;
    right: 24px;
	bottom: 54px;
	margin: 0 50%;
    -webkit-transform: rotate(45deg);
}

.haveOP::after { 
    content: "OP";
    color:#00b22d;
    position: absolute;
    right: 32px;
	bottom: 40px;	

	margin: 0 50%;
    -webkit-transform: rotate(38deg);
}